@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

body{
    margin: 0;
    padding: 0;
}

section{
    max-width: 1920px;
	margin: auto;
    padding: 0;
    height: 100vh;
    background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
div{
    background: rgba(51, 74, 77, 0.5);
    color: white;
}
h1{
    font-family: 'cinzel_decorativesemi_bold';
    font-size: 50px;
}
p{
    font-family: 'robotoregular';
    font-size: 20px;
}
span{
    font-family: 'cinzelbold';
    font-size: 20px;
}
.btn{
    background: #2c4444;
	border-color: transparent;
    color: white;
    font-family: 'cinzel_decorativesemi_bold';
}
.btn:hover{
	background: #577367;
    color: white;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.notfound{
    height: 100vh;
}