/* --------------------------------------------------------- FONTS */

@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.container-fluid, .message{
	font-family: 'robotoregular', sans-serif;
}
h2, h3, h4, h5, h6{
	font-family: 'cinzelbold';
	font-size: 30px;
}
.last h3{
	font-size: 22px;
}
.headerConnect, .fa-user-circle{
	font-size: 20px;
}
h1{
	font-size: 35px;
}
h1, #callToAction, .cinzelD, .last h2{
	font-family: 'cinzel_decorativesemi_bold';
}
.cinzel{
	font-family: 'cinzelbold';
}
.fa-arrow-circle-up{
	font-size: 40px;
}

/* ------------------------------------------------------------ COLOR, IMG AND BACKGROUND */
.container-fluid{
	color: #343A40;
	background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
body{
	background: #343A40;
}
.wrapper{
	background: rgba(0, 0, 0, 0.3);
	padding-bottom: 20px !important;
}

/* --- HEADER --- */
nav a:hover{
	text-decoration: underline !important;
}

.book{
	max-width: 18%;
}

.single a{
	color: #FFFFF0;
	border-color: #FFFFF0;
	text-decoration: none;
}
.hero img{
	width: 35%;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.hero .message{
	color: #FFFFF0;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

#callToAction{
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.7);
}
#callToAction:hover{
	background: #577367;
	color:#FFFFF0;
	border-color: transparent;
	letter-spacing: 1px;
	box-shadow: 5px 40px 0 rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.tips{
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

article .back:hover, .last a:hover{
	background: #577367;
	color:#FFFFF0;
	border-color: transparent;
}

.ombre{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

.jean{
	width: 20em;
  	height: auto;
  	float: left;
	clip-path: circle(38%);
}

/* --- POSTS --- */

.darkMode{
	background: #343A40 !important;
	color: 	#FFFAFA;
	transition: background-color 1s;
}

article{
	border: none !important;
	background: transparent !important;
	color: #343A40;
}
article img, .cover{
	filter: grayscale(60%);
}
.single img{
	width: 30%;
}
.single .card-text{
	line-height: 2;
}
.fa-user-circle{
	color: #3A534D;
}

.page-item.active .page-link{
	background: #17A2B8;
	border-color: #17A2B8;
}
.page-link{
	color: #343A40;
}
.page-link:hover{
	color: #17A2B8;
}

#backToTop{
	opacity: 0;
	color: white;
}
html{
	scroll-behavior: smooth;
}

/* --- FOOTER --- */
footer{
	color:#FFFFF0;
}

.notice{
	background: #343A40;
	color:#FFFFF0;
}


/* ------------------------------------------------------------------------ LAYOUT */
body, .wrapper, .container-fluid{
    margin: 0;
    padding: 0;
}

/* --- HEADER --- */
.callToAction{
	padding: 12px 24px;
	border-radius: 4px;
}
.callToAction:hover{
	padding: 12px 40px;
}

.home{
	width: 90%;
	height: auto;
}

/* --- POSTS --- */
.postsContainer, .onePostContainer{
	width: 90%;
	border-radius: 5px;
}
.onePostContainer article{
	width: 100%;
}
.single{
	border: none;
}

#backToTop{
	position: fixed;
	bottom: 40px;
	right: 10px;
	z-index: 1000;
}

/* --- FOOTER --- */
footer{
	height: auto;
}

/* --------------------------------------- MEDIA QUERIES --- */
.container-fluid{
	max-width: 1920px;
	margin: auto;
	padding: 0;
}

@media (max-width: 767.98px){

	.hero{
		display: flex;
		flex-direction: column-reverse;
	}
	.hero div{
		margin-bottom: 30px;
	}

	.home{
		background: rgba(255,255,255,0.28);
		border-radius: 5px;
	}

	.jean{
		width: 90%;
	}

	.home h4{
		text-align: center;
	}

	.postsContainer .card, .home_article{
		min-width: 100%;
		max-width: 100%;
		margin: 5px;
	}

	.onePostContainer, .onePostContainer .card{
		width: 100% !important;
		margin: 0 !important;
	}
	.onePostContainer .card{
		padding: 20px;
	}
	.wrapper p, .onePostContainer .card-text{
		font-size: 20px;
	}

	.form_comment{
		padding: 10px;
	}
}

@media (min-width: 768px){

    header div{
		width: 50%;
	}
}