/* ------------------------------------------------------------------------- FONTS */


/* ---------------------------------------------------------------- COLORS AND IMG */
body{
    background: #343A40;
}
h1{
    color: white;
}
section{
    height: 100%;
    background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    background-size: cover;
}

/* ------------------------------------------------------------------------ LAYOUT */
body{
    margin: 0;
    padding: 0;
}