/* --------------------------------------------------------- FONTS */

@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.container-fluid{
	font-family: 'robotoregular';
}
h2, h3, h4{
	font-family: 'cinzelbold';
	font-size: 30px;
}
.last h3{
	font-size: 22px;
}
.headerConnect, .fa-user-circle{
	font-size: 20px;
}
h1{
	font-size: 35px;
}
h1, #callToAction, .cinzelD, .last h2{
	font-family: 'cinzel_decorativesemi_bold';
}
.cinzel{
	font-family: 'cinzelbold';
}


/* ------------------------------------------------------------ COLOR, IMG AND BACKGROUND */

.container-fluid{
	color: #2D2D2D;
}
.wrapper{
	background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

/* --- NAV --- */
nav a:hover{
	letter-spacing: 1px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

/* --- HEADER --- */
nav a:hover{
	text-decoration: underline !important;
}

.hero p{
	background: rgba(255,255,255,0.28);
}

.single a{
	color: white;
	border-color: white;
	text-decoration: none;
}
.hero img{
	width: 40%;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

#callToAction{
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #2c4444;
	border-color: transparent;
	color: white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
#callToAction:hover{
	background: #577367;
	color: white;
	letter-spacing: 1px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

article .back{
	background: #2c4444;
	padding: 2px 10px;
}
article .back:hover{
	background: #577367;
	color: white;
}

.ombre{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

.jean{
	width: 20em;
  	height: auto;
  	float: left;
	shape-outside: circle(45%);
	clip-path: circle(38%);
}

/* --- POSTS --- */

.postsContainer{
	background: white;
}
article{
	background: white;
	color: #2D2D2D;
}
article img, .cover{
	filter: grayscale(60%);
}
.last img, .single img{
	width: 30%;
}
.last a{
	color: #2c4444;
	text-decoration: underline;
}
.last a:hover{
	color: #17A2B8;
}
.fa-user-circle, .fa-comments{
	color: #3A534D;
}

/* --- FOOTER --- */
#footer{
	background: #2D2D2D;
	color: white;
}
footer{
	border-top: 1px solid grey;
}


/* ------------------------------------------------------------------------ LAYOUT */
body, .wrapper{
    margin: 0;
    padding: 0;
}
.container-fluid{
	max-width: 1920px;
	margin: auto;
	padding: 0;
}

/* --- HEADER --- */
.callToAction{
	padding: 12px 24px;
	border-radius: 4px;
}
.callToAction:hover{
	padding: 12px 40px;
}

.home{
	width: 90%;
	height: auto;
}

/* --- POSTS --- */

.postsContainer, .onePostContainer{
	width: 90%;
	border-radius: 5px;
}
.postsContainer article{
	min-width: 400px;
	max-width: 30%;
	margin: 20px;
}
.onePostContainer article{
	width: 100%;
}
.posts, .btn_group{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.single{
	border: none;
}

/*overlay*/
.postsContainer article{
	position: relative;
	width: 50%;
}
.overlay{
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: white;
	opacity: 0.85;
	overflow: auto;
	width: 0;
	height: 100%;
	transition: .5s ease;
}
.postsContainer article:hover .overlay{
	width: 100%;
	left: 0;
}
/*end overlay*/

/* --- FOOTER --- */
footer{
	height: auto;
}
#footer p:first-of-type{
	max-width: 45vw;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 767.98px){

	.hero img, .heroP{
		width: 80% !important;
	}

	.home{
		background: rgba(255,255,255,0.28);
		border-radius: 5px;
	}

	.jean{
		width: 90%;
  		float: none;
		shape-outside: none;
	}

	.home h4{
		text-align: center;
	}
}