/* ------------------------------------------------------------------------- FONTS */
@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.container-fluid{
    font-family: 'robotoregular';
}
.cinzeld{
    font-family: 'cinzel_decorativesemi_bold';
}
.cinzel{
    font-family: 'cinzelbold';
}
.fa-comment-dots{
    font-size: 20px;
}

/* ---------------------------------------------------------------- COLORS AND IMG */
.container-fluid{
    background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    background-size: cover;
    height: auto;
}
body{
	background: #343A40;;
}
.ombre{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

h1{
    color: white;
}

nav a:hover{
	text-decoration: underline !important;
}

span{
    font-weight: bold;
}

.fa-comment-dots{
    color: #3A534D;
}

/* ------------------------------------------------------------------------ LAYOUT */
body{
    margin: 0;
    padding: 0;
}

.container-fluid{
	max-width: 1920px;
	margin: auto;
    padding: 0;
    height: 100%;
}

.card{
    width: 100%;
}

/* ---- MEDIA QUERIES ----  */
@media (max-width: 767.98px){
    h1{
        font-size: 30px;
    }

}