/* --------------------------------------------------------- FONTS */
@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.bloc_page{
    font-family: 'robotoregular';
}

h1{
    font-family: 'cinzel_decorativesemi_bold';
}
.w_users, .w_comments, .w_reports{
    font-size: 40px;
}
.billets h2, .billets h3{
    font-size: 30px;
}
span, h2, h3, h4{
    font-family: 'cinzelbold';
}
.fa-comment-dots{
    font-size: 20px;
}

/* ------------------------------------------------------------ COLOR, IMG AND BACKGROUND */
.bloc_page{
    color: #2D2D2D;
}
.bloc_page, .reports, .widgets, .comments, .postAwaiting, .memberList{
    background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.navbar, .w_users, .w_comments, .w_reports{
    color: white;
}

.ombre{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}
.carte{
    background: white;
}

/* ------------------------------------------------------------------------ LAYOUT */
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 14%;
}

header{
    margin-left: 14%;
}
.carte{
    width: auto;
}

.reports, .widgets, .comments, .postAwaiting, .memberList{
    min-height: 100%;
    margin: 0 0 0 14%;
}

.w_users, .w_comments, .w_reports{
    width: 90px;
}