/* --------------------------------------------------------- FONTS */
@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.container-fluid, .billets h2, .billets h3{
    font-family: 'robotoregular', sans-serif;
}

h1{
    font-family: 'cinzel_decorativesemi_bold';
}
.w_users, .w_comments, .w_reports{
    font-size: 40px;
}
.billets h2, .billets h3{
    font-size: 30px;
}
span, h2, h3, h4{
    font-family: 'cinzelbold';
}
.fa-bookmark{
    font-size: 50px;
}
.fa-comment-dots{
    font-size: 20px;
}
.fa-sign-out-alt{
    font-size: 30px;
}
.fa-arrow-circle-up{
	font-size: 40px;
}

/* ------------------------------------------------------------ COLOR, IMG AND BACKGROUND */
body, .container-fluid{
    color: #343A40;
    background: #F8F8FF !important;
}

.cards{
    background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    background-size: cover;
}
.navbar, .w_users, .w_comments, .w_reports{
    color: #FFFFF0;
}
nav a:hover{
    text-decoration: underline white !important;
}

.ombre{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

.carte{
    background: white;
}

.card{
    border: none;
}

#backToTop{
	opacity: 0;
	color: #17A2B8;
}
html{
	scroll-behavior: smooth;
}


/* ------------------------------------------------------------------------ LAYOUT */
body{
    margin: 0;
    padding: 0;
}

#backToTop{
	position: fixed;
	bottom: 40px;
	right: 5px;
	z-index: 1000;
}

.navbar{
    width: 14%;
}

header{
    margin-left: 14%;
}
.carte{
    width: auto;
}

.reports, .widgets, .comments, .postAwaiting, .memberList{
    min-height: 100%;
    margin: 0 0 0 14%;
}

.w_users, .w_comments, .w_reports{
    width: 90px;
}

/* ---- MEDIA QUERIES ---- */
.container-fluid{
    max-width: 1920px !important;
    margin: auto;
    padding: 0;
}

@media (max-width: 767.98px){
    .widgets .carte{
        width: 80%;
    }

    .table thead{
        display: none;
    }
    .table tr{
        display: block;
        margin-bottom: 40px;
    }
    .table td {
        display: block;
        text-align: center;
    }
    .table td:before {
        float: left;
    }

    .billets{
        padding: 0 !important;
    }

    .oneReport a{
        width: 100%;
        margin: 5px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px){
    
    .widgets .carte{
        width: 60%;
    }
}

@media (max-width: 991.98px){
    
    .navbar, header, section{
        width: 100%;
        height: auto;
    }

    header{
        margin-left: 0;
        margin-top: 50px;
    }

    .container-fluid, .reports, .widgets, .comments, .postAwaiting, .memberList{
        margin: 0;
        height: auto;
    }

    .postAwaiting article{
       padding: 0 !important;
    }
    .postAwaiting article img{
        margin-top: 0 !important;
    }
    
}

@media (min-width: 992px){

    .navbar{
        height: 100%;
    }
    .navbar li, .navbar-brand{
        margin-bottom: 50px;
    }
}