/* --------------------------------------------------------- FONTS */

/*@font-face {
    font-family: 'cinzel_decorativeblack';
    src: url('../font/cinzeldecorative-black-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelblack';
    src: url('../font/cinzel-black-webfont.woff2') format('woff2'),
         url('../font/cinzel-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('../font/cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('../font/cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelregular';
    src: url('../font/cinzel-regular-webfont.woff2') format('woff2'),
         url('../font/cinzel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelsemi_bold';
    src: url('../font/cinzel-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzel-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'cinzel_decorativesemi_bold';
    src: url('../font/cinzeldecorative-semibold-webfont.woff2') format('woff2'),
         url('../font/cinzeldecorative-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelbold';
    src: url('../font/cinzel-bold-webfont.woff2') format('woff2'),
         url('../font/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

.container-fluid{
	font-family: 'robotoregular';
}
h2, h3, h4{
	font-size: 30px;
	font-family: 'cinzelbold';
}
h3{
	font-size: 20px;
}
h1{
	font-size: 35px;
}
h1, #callToAction, .cinzelD{
	font-family: 'cinzel_decorativesemi_bold';
}
.cinzel{
	font-family: 'cinzelbold';
}

/* ------------------------------------------------------------ COLOR, IMG AND BACKGROUND */

.container-fluid{
	color: #2D2D2D;
}
.wrapper{
	background: url("../img/typewriter.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

/* --- NAV --- */
nav a:hover{
	letter-spacing: 1px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

/* --- HEADER --- */
.single a{
	color: white;
	border-color: white;
	text-decoration: none;
}
header img{
	width: 40%;
}

#callToAction{
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
#callToAction, article .btn{
	background: #2c4444;
	border-color: transparent;
	color: white;
}
#callToAction:hover, article .btn:hover{
	background: #577367;
	color: white;
}
#callToAction:hover{
	letter-spacing: 1px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.jean{
	width: 20em;
  	height: auto;
  	float: left;
	shape-outside: circle(45%);
	clip-path: circle(38%);
}

/* --- POSTS --- */

.postsContainer{
	background: white;
}
article{
	background: white;
	color: #2D2D2D;
}
article img, .cover{
	filter: grayscale(60%);
}
.last img, .single img{
	width: 30%;
}
.last a{
	color: #2c4444;
}

/* --- FOOTER --- */
#footer{
	background: #2D2D2D;
	color: white;
}
footer{
	border-top: 1px solid grey;
}


/* ------------------------------------------------------------------------ LAYOUT */
body, .wrapper{
    margin: 0;
    padding: 0;
}
.container-fluid{
	max-width: 1920px;
	margin: auto;
	padding: 0;
}

/* --- HEADER --- */
/*header{
	height: 90vh;
}*/
.callToAction{
	padding: 12px 24px;
	border-radius: 4px;
}
.callToAction:hover{
	padding: 12px 40px;
}

.home{
	width: 90%;
	height: auto;
}

/* --- POSTS --- */

.postsContainer, .onePostContainer{
	width: 90%;
	border-radius: 5px;
}
.postsContainer article{
	min-width: 300px;
	max-width: 30%;
	margin: 20px;
}
.onePostContainer article{
	width: 100%;
}
.posts{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.single{
	border: none;
}

/*overlay*/
.postsContainer article{
	position: relative;
	width: 50%;
}
.overlay{
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: white;
	opacity: 0.85;
	overflow: auto;
	width: 0;
	height: 100%;
	transition: .5s ease;
}
.postsContainer article:hover .overlay{
	width: 100%;
	left: 0;
}
/*end overlay*/

/* --- FOOTER --- */
footer{
	height: auto;
}
#footer p:first-of-type{
	max-width: 45vw;
}